.navList {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 4px 4px 20px 0 var(--gray-alpha-200);
    background-color: var(--silver-white);
    z-index: 1000;
    position: sticky;
    top: 0;
}





