.outerContainer {
    margin: 0 10rem;
    scroll-margin-top: 180px; 
}
.featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 2rem;
    color: var(--dark-green);
}

.img img {
    max-width: 80%;
}
#scanningImg img {
    max-width: 50%;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: var(--light-green);
    }
}
.singleFeatureContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 5rem 0;
}
.img {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
}

@media only screen and (max-width: 600px){
    .outerContainer {
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem;
        scroll-margin-top: 100px; 
    }
    .title {
        margin: 2rem auto;
    }
    .featuresContainer h1 {
        text-align: center;
    }
    .singleFeatureContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 1rem 0;
    }
    .singleFeatureContainerReversed {
        flex-direction: column-reverse;
    }
    .img img{
        max-width: 300px;
    }
    #scanningImg img {
        max-width: 200px;
    }
}