.banner {
    background-color: var(--silver-white);
    height: 70vh;
    display: flex;
    gap: 5rem;
}

.bannerImage {
    width: 50%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

.bannerText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-right: 4rem;
}
