.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    scroll-margin-top: 200px; 
}

.textContainer {
    margin: 0 10rem 5rem;
    /* max-width: 100%; */
}

.title {
    color: var(--dark-green);
    margin-bottom: 3rem;
}

.catalog {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    overflow-x: scroll;
    padding: 1rem 10rem 3rem;
    width: 100%;
}

.catalog::-webkit-scrollbar {
    display: none;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .textContainer {
        margin: 0;
        padding: 0 4rem
    }

    .catalog {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
}

